{% extends "base.html" %}
Login

{% block body %}
{% from "_macroform.html" import render_field %}

  <h2>Login</h2>


{% if current_user.is_authenticated %}
 	 You are already logged in !
  	 <form action="/logout">
  		 <input type="submit" value="Logout">
	</form>
{% else %}
<form method=post action="/login">
  {{ form.hidden_tag() }}
  <dl>
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
  </dl>
  <p><input type=submit value=Login>
</form>
 	
{% endif %}
{% endblock %}
